.App{
  height: 100vh;
  margin: 10px;
}

.login_button{
  display: flex;
  justify-content: flex-end;
  margin :20px;
}

.loge {
  width: 100px;
}

.logeline
{
  display: flex;
  justify-content: center;
}

.top_contain{
  display: flex;
  justify-content: center;
  align-items: center;
}
.form_button{
  display: flex;
  justify-content: center;
  align-items: center;
}
.manu_Box{
  display: flex;
}
.manu-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  font-size: 24px;
  font-weight: bolder;
}

.search_input{
  margin-left: 5px;
  display: flex;
  justify-content: center;
}

.form_container {
  display: flex;
  justify-content: center;
  align-items: center;
margin-top: 15%;

}

.form_center {
  text-align: center;
}

.login_form{
text-align:center ;
  justify-content: center;
}
.search_box {
  position: absolute;
  right: 0;
  margin-right: 20px;
}

.search_input {
  height: 30px;
  width: 200px;
  border-radius: 5%;
  border: none;
  box-shadow: 5px 5px 10px rgba(15, 39, 255, 0.4);
  border-bottom: 5px solid rgb(0, 75, 41);
}

.manu_Box{
  display: flex;
justify-content: center;

}
.product-card {
  margin-top: 30%;
  text-align: center;
}

.img_dress {
  transition: transform 0.2s; /* Add smooth transition effect */
}
.login_link{
  color: inherit;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin-left: 5px;
    margin-bottom: 8px;
}
.manu{
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
.login_icon{
width: 16px;
margin-top: 3px;
cursor: pointer;

}
.img_dress:hover {
  transform: scale(1.1); /* Increase size by 10% on hover */
}

.products_contanse{
display: flex;
justify-content: center;}
.small_search_box {
  display: none;
}
.img_dress{
  width: 250px;
}
.search_icon {
  margin-right: 5px;
cursor: pointer;
}

.manu-list li
{
  padding: 10px;
}

@media screen and (max-width: 750px) {
  .search_box{
    display: none;
  }

.small_search_box {
    position: absolute;
    left: 0;
    margin-left: 20px;
    display: block;
  }
}

